.contents.row
  .content_post{:style => "background-image: url(#{@tweet.image});"}
    - if user_signed_in? && current_user.id == @tweet.user_id
      .more
        %span= image_tag 'arrow_top.png'
        %ul.more_list
          %li
            = link_to '編集', "/tweets/#{@tweet.id}/edit", method: :get
          %li
            = link_to '削除', "/tweets/#{@tweet.id}", method: :delete
    = simple_format(@tweet.text)
    %span.name
      %a{:href => "/users/#{@tweet.user.id}"}
        %span 投稿者
        = @tweet.user.nickname
  .container
    / ここからフォーム
    - if current_user
      = form_with url:"/tweets/#{@tweet.id}/comments", method: :post, local: true do |f|
        = f.text_area :text, class: "comment", size: "30x6", :placeholder => "コメントするよ"
        = f.submit "Go tweet!"
    / 追記
    .comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.nickname, "/users/#{comment.user_id}"
              ：
            = comment.text
